<div class="container">
    <div class="card p-4" style="margin-bottom: 20px; height: 50px; border-radius: 30px; margin-top: -70px;">
        <div style="display: flex; justify-content: space-around;">
            <a routerLink="/posts"> <span style="color: brown; font-weight: bolder;">HOME</span> </a>
            <a routerLink="/topten"> <span>TOP10</span> </a>
            <span style="margin-top: -10px;">STATISTICS/WEEK</span> 
            <span style="margin-top: -10px;">SETTING</span> 
        </div>
    </div>

    <div class="row">
        <div class="col-md-5">
            <img [src]="character1Image.image_url" width="100%" class="img_box">
        </div>

        <div class="col-md-2" style="display: flex; align-items: center;">
            <img src="https://upload.wikimedia.org/wikipedia/commons/7/70/Street_Fighter_VS_logo.png?20200807133458"
                width="100%">
        </div>

        <div class="col-md-5">
            <img [src]="character2Image.image_url" width="100%" class="img_box">
        </div>
    </div>
</div>
